
  
  
  
  #filtersubmit {
  
  position: 
  relative;
  
  z-index: 
  1;
  
  left: 
  -25px;
  
  top: 
  1px;
  
  color: 
  #7B7B7B;
  
  cursor:pointer;
  
  width: 
  0;
  
  }
  
  *{transition:all
  0.3s 
  ease-in-out;}
  
  
  
  .container{
  
  clear:both;
  
  overflow:auto;
  
  }
  
  
  
  nav{float:right;}
  
  
  
  .logo 
  img{float:left;}
  
  
  
  .menu
  
  {
  
  display: 
  inline;
  
  }
  
  .menu 
  :hover{
  
  color:orange;
  
  
  }
  
  .card 
  col-lg-4 > button
  
  {
  
  width: 
  5%;
  
  }
  .search-box {
    box-align: "center";
    outline: none;
    padding: 7px;
    padding-left: 50px;
    padding-right: 50px;
    height: 35px;
    width: 100%;
    border-radius: 30px;
    font-size: 15px;
    border-color: transparent;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
  }
  .banner {
    background-color: red;
  }
  .row >.imp1{
    padding: 30%;

  }
  .row >.imp2{
    padding: 30%;

  }